@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/css/style2.css" />
    <title>PizzaMama</title>
</head>
<body class="homePage">
    <div class="centered">
        <img src="~/images/main_logo.png" />
        <a class="homePage" asp-page="MenuPizzas">Voir le menu</a>
    </div>
</body>
</html>

